@CHARSET "UTF-8";
#novaContent {
	background: url("images/backgroundvjet.png") no-repeat white;
}

#midcolumn {
	width: 640px;
	padding: 0 10px 10px 10px;
}

#rightcolumn {
	width: 260px;
}


h3 {
	clear: both;
}

h7 {
	font-weight: bold;
	padding: 5px;
}

a strong {
	text-decoration: underline;
}

#introText p.left {
	width: 48%;
	float: left;
}

#introText p.right {
	width: 48%;
	float: right;
}

#feature_1 {
	float: left;
	width: 30%;
	margin-right: 3%;
}

#feature_2 {
	float: left;
	width: 30%;
	margin-right: 3%
}

#feature_3 {
	float: left;
	width: 30%;
}

#feature_4 {
	clear: both;
	float: left;
	width: 63%;
	margin-right: 3%;	
}

#feature_more {
	float: left;
	width: 30%;
}
	
#bigbuttons {
	position: relative;
	padding-left: 420px;
	width : 560px;
}
#bigbuttons h3{
	visibility: hidden;
	height:0;
}

#bigbuttons a {
}

#bigbuttons ul li {
   vertical-align:bottom;
   display:inline-block;
   list-style-type:none;
   padding: 0;
   margin: 0;
}

#bigbuttons a:hover {
	text-decoration: underline;
	color : black;
}

#bigbuttons a {
   margin: 50px;
   display:inline-block;
   list-style-type:none;
   padding-left: 70px;
   padding-top: 10px;
   margin: 0;
   width: 180px;
   height: 77px;
   color : black;
}

#buttonDownload {
   background:transparent url("images/buttonDownload_empty.png") no-repeat 0 0;
}

#buttonDocumentation {
   background:transparent url("images/buttonDocumentation_empty.png") no-repeat 0 0;
}

#buttonSupport {
   background:transparent url("images/buttonSupport_empty.png") no-repeat 0 0;
}

#buttonInvolved {
   background:transparent url("images/buttonInvolved_empty.png") no-repeat 0 0;
}

#bigbuttons a * {
}

#bigbuttons strong{
   display:block;
   text-decoration: none;
}

#headlines {
}

#headlines ul li {
	margin: 0 0;
	list-style-type: none;
	list-style-image: none;
}

	
#headlines div.title {
	display: inline;
	margin-right: 0.5em;
}

#headlines div.meta {
	display: inline;
	color: #444444;
	font-size: smaller;  
}

#headlines div.item {
	display: block;
	}
	
#screencast {
	margin-bottom: 10px;
}

#newAndNoteworthy a {
   display: block;
   width:218px; 
   height:51px;
   padding: 0;
   text-indent: -9000px;
   background:transparent url("images/bannerNewAndNoteworthy08M4.png") no-repeat 0 0;
   margin-top: 10px;
}